html,
body {
    height: 100%;
    background-color: #ffffff;
}
.top-banner {
    height: 75px;
    color: inherit;
    padding: 3px;
    background-color: #ffffff;
    box-shadow: 2px 3px 5px #9ab92d;
    position: relative;
}

.top-banner .img{
    width: 160px;
    height: 60px;
    float: left;
    margin-left: 5px;
    z-index: 1000;
    margin-top: 5px
}

.top-banner a{
    float: left;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 20px 12px;
    text-decoration: none;
    font-size: 17px;
    list-style-type: none;
}

.topnav-menu{
  text-decoration: none;
}

.topnav-menu li { 
  display: inline-block;
  height: auto;
  width: auto;
  border-left: 1px solid #afaf83;
  text-align: center;
  float: right;
}

.topnav-menu li:hover { 
  background-color: #f5f5f0;
}

.topnav-menu .menutext{
   color: #000000;
   font-style: 'Trebuchet MS';
}

.topnav-menu .menutext:hover{
   background-color: #f5f5f0;
}

.topnav-menu .icon {
  color: #1a1a00;
  font-size: 24px;
}

.top-banner h2{
  text-shadow: 1px 1px 3px grey;
  font-style: italic;
}

@media screen and (max-width: 400px) {
  .topnav .heading-title{
    display: none;
  }

  .top-banner .topnav-menu{
    display: none;
  }
}

.img {
    vertical-align: left;
    width: 100px;
    height: 70px;
}
.my-navbar{
    width: 100%;
    height: 50px;
    background-color: #77ac39;
    position: inherit;
}

.my-navbar li { 
     text-indent: 20px; 
     line-height: 40px; 
} 
 
 
.my-navbar li a { 
     display: block; 
     text-decoration: none; 
     color: #1a0000; 
 } 
 
 
.my-navbar li a:hover { 
     color: #003300;
     background-color: #77ac39; 
} 

.form-wrapper{
  width: 100%;
  height: auto;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  background-color: #ffffff;
  margin-bottom: 20px;
}

/* .............Add Feature Style....................... */

.info-wrapper{
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 17px;
  color: #77ac39;
  margin-bottom: 20px;
  font-style: italic;
  text-align: justify;
}

.add-form-wrapper{
  border-left: 2px solid #e6f0c1;
}

.info-wrapper-icon{
  font-size: 24px;
  text-shadow: 1px 1px 2px 1px grey;
}

.options-wrapper{
  width: 100%;
  height: auto;
  border: 1px solid grey;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.label-style{
  font-size: 16px;
  font-family: Verdana, Geneva, sans-serif;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px;
  padding: 5px;


}

/* .............Default CSS....................... */

.wrap {
    
    height: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    
}
.row.content {
  height:auto;
} 

.content-wrapper{
  width: 100%;
  min-height: 1000px;
  height: auto;
  padding-top: 25px;
  margin-top: 0;
  padding-right: 10px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/*=====================Dashboard Style =============================*/

.dashboard-menu{
  width: 110px;
  height: 110px;
  border-radius: 5px;
  display: inline-block;
  padding-left: 10px;
  margin: 15px;
}

.dashboard-menu .desc {
     padding: 2px;
     text-align: center;
     font-size: 14px;
}

.dashboard-menu .img{
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 480px) {
  .dashboard-menu .img {
         width: 50%;
         height: 50%
    }
}

.dashboard-menu .img:hover{
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.dashboard-wrapper{
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 5px 5px 45px 5px;
}

.panel-header{
  width: 100%;
  height: 50px;
  background-color: #5b8230;
  margin: 0px;
  border-bottom: 1px solid #77ac39;
  padding: 10px;
  line-height: 1.5;
  font-size: 18px;
  color: #ffffff;
}

.panel-header-wrapper{
     width: 100%;
     height: auto;
     border-bottom: 1px solid #deebad;
     margin-bottom: 15px;
}

.panel-header-wrapper h3{
  font-size: 18px;
}

.panel-header-wrapper .icon{
  font-size: 22px;
  color: #77ac39;
  padding: 0;
}

.panel-header-menu{
  font-size: 18px;
  text-align: right;
  border-bottom: 1px solid #77ac39;
  width: 70%;
  float: right;
}

.menu-navigation{
  border-bottom: 1px solid #e1e1d0;
  text-decoration: none;
  text-align: left;
  float: left;
  width: 90%;
  text-decoration: none;
  font-size: 14px;
  color: #4d4d4d;
  height: 100%;
  padding: 10px 0px 10px 0px;
}

.menu-navigation:hover{
  background-color: #f2f2f2;
  text-decoration: none;
  color: #595959;
}

.menu-navigation .icon{
  float: right;
  font-size: 14px;
  color: #999999;
}

.dashboard-panel-content{
  padding: 5px 15px;
}

.dashboard-menu .icon{
  font-size: 22px;
  color: #699933;
  font-weight: bold;
  box-shadow: 2px 2px 3px grey;
}

.panel-header-activity{
  width: 100%;
  height: 50px;
  background-color: #004d39;
  margin: 0px;
  border-bottom: 1px solid #004d39;
  padding: 10px;
  line-height: 1.5;
  font-size: 18px;
  color: #ffffff;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.sidebar-menut{
  position: relative;
  height: auto;
  width: 80%;
  float: left;
}
.activity{
  width: 100%;
  height: auto;
  background-color: #e6ffb3;
  display: block;
  margin-bottom: 15px;
  padding: 5px;
  font-size: 18px;
  box-shadow: 2px 2px 3px grey;
  text-decoration: none;
}

.activity:hover{
  opacity: 0.5;
  text-decoration: none;
  cursor: pointer;
}

.activity d{
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

/*=====================Folder Style =========================== */
.folder{
  width: auto;
  max-width: 80px;
  height: auto;
  max-width: 220px;
  border-radius: 5px;
  display: inline-block;
  padding-left: 10px;
  margin: 15px;
}

.folder .desc {
     width: 100%;
     padding: 2px;
     text-align: center;
     font-size: 16px;
}

.img{
  width: 60px;
  height: auto;
  margin-left: 5px;
  vertical-align: middle;
}

.img:hover{
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
}
.folder-form{
  width: 500px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 0 5px;
}
/*=====================View Style =============================*/


.mini-icon{
  font-size: 22px;
  color: #77ac39;
  padding: 0;
  float: right;
  padding: 10px;
  display: inline-block;
}

.mini-icon:hover{
  color: black;
}

.view-wrapper{
  width: 100%;
  height: auto;
  display: inline-block;
  
}

.view-content-wrapper{
  width: 100%;
  height: auto;
  padding: 15px;
  display: inline-block;
  column-count: 2;
}
.view-wrapper .view-image{
  width: 100%;
  height: auto;
  float: left;
  margin-right: 15px;
  border-radius: 3px;

}

.title-container{
  vertical-align: middle;
  padding: 50px;
}

.title{
  color: #426020;
  font-weight: bold;
  font-style: 'Trebuchet MS';
  text-align: center;
  border-bottom: 2px solid #bcd75b;
  border-top: 2px solid #bcd75b;
  height: auto;
  width: 90%;
}

.title::first-letter{
  font-size: 200%;
  font-weight: bold;
  font-family: Brush Script MT,cursive;
}

.view-wrapper p{
  font-size: 18px;
  text-align: justify;
  font-family: Helvetica, sans-serif;
}

.view-wrapper .author{
  font-size: 18px;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.view-wrapper p::first-letter { 
    font-size: 200%;
    font-weight: bold;
    font-family: Brush Script MT,cursive;
}

/*=====================Gallery Style =============================*/

.album-polaroid {
    width: 300px;
    background-color: white;
    margin: 15px;
    display: inline-block;
    float: left;
    min-height: 300px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.album-polaroid img {
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px 5px 0 5px;
  margin-top: 0;
}

.album-polaroid:hover{
  box-shadow: 0 0 2px 1px #9ab92d;
} 

.album-gallery{
  margin: 5px;
  width: 230px;
  float: left;
  display: inline-block;
}

.album-gallery img{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  height: 180px;
}

.album-gallery:hover{
   box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
   cursor: pointer;
}

.desc {
     padding: 15px;
     text-align: center;
}

.album-wrapper{
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 25px;
  margin-left: 30px;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fefefe;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  width: 60%;
  max-width: 1200px;
}

.modal-content img{
  width: 100%;
  height: auto;
}

/* The Close Button */
.close {
  color: black;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

.gallery-icon{
  font-size: 20px;
  color: #77ac39;
  padding: 0;
  float: right;
  padding: 5px;
  z-index: 100;
  position: relative;
  display: inline-block;
}

.gallery-icon:hover{
  color: $ffffff;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
 .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/*===================== Calendar of Activities =============================*/

.activiy-wrapper{
  width: 300px;
  height: auto;
  min-height: 300px;
  box-shadow: 2px 2px 2px grey;
  border-radius: 3px;
  padding: 10px;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 5px;
}

.activiy-wrapper:hover{
  opacity: 0.5;
}

.calendar-date{
  width: 100%;
  height: 50px;
  background-color: #e0e0d1;
  font-size: 22px;
  margin-top: 0;
  padding: 10px;
}

.calendar-title{
  text-align: left;
  color: #558000;
  font-size: 24px;
  padding: 5px;
}

.calendar-content {
  text-align: left;
  color: #737373;
  font-size: 15px;
  padding: 5px;
  font-style: italic;
  height: auto;
  /*text-indent: 50px;*/
}

.calendar-content .p{
  font-size: 18px;
}

.row {
  margin-bottom: 20px;
}

/*===================== Message Styles =============================*/

.message-body{
  font-size: 15px;
  text-align: justify;
  white-space: pre;
}

.message-date{
  padding-left: 45px;
}

/*===================== Search Box Styles =============================*/

#custom-search-input {
        margin:0;
        margin-top: 10px;
        padding: 0;
    }
 
    #custom-search-input .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
    #custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#D9230F;
    }
 
    .search-query:focus + button {
        z-index: 3;   
    }

    .result{
      padding-top: 15px;
      padding-left: 5px;
      color: #b3b3b3;
      font-style: italic;
    }

    .results{
      padding-top: 10px;
      padding-left: 10px;
      color: #666666;
      font-size: 18px;
      width: 98%;
      display: block;
      /*border-bottom: 1px solid #d9d9d9;*/
    }

    .results:hover{
      color: black;
      cursor: pointer;
      text-decoration: none;
    }