@media (max-width: 767px){
  .site-index{
    #banner{
      #banner-content{
        .col-md-7{
          text-align: center;
          margin-bottom: 2rem;
        }
      }
    }

    #headline{
      .col-md-8{
        margin-bottom: 2rem;
      }
    }
  }

  #components-events{
    #news-head,
    #news-subhead{
      .card{
        .card-img{
          height: 600px;
        }
      }
    }

    #news-list{
      .list-group-item{
        img{
          width: 100%;
          margin-bottom: 1rem;
        }

        .item-content{
          display: block;
        }
      }
    }
  }

  #components-calendar{
    margin-top: 1rem;
  }
}

@media (min-width: 768px) {
  .site-index{
    #banner{
      #banner-content{
        .col-md-7{
          a{
            float: right;
          }
        }
      }
    }
  }

  #components-events{
    #news-head{
      .col-md-7{
        .card{
          .card-img{
            height: 600px;
          }
        }
      }

      .col-md-5{
        .card{
          .card-img{
            height: 291px;
          }
        }
      }
    }

    #news-list{
      .list-group-item{
        img{
          width: 50%;
        }

        .item-content{
          display: flex;
        }
      }
    }
  }  
}