html, body{
	background-color: $body-bg !important;
	font-family: $main-font !important;
	overflow-x: hidden !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1300px !important;
  }
}

nav{
	background-color: $white;
	border-bottom: 1px solid $secondary;

	.navbar-brand{
		margin: unset;

		.logo-container{
			display: flex;
	
			.abbr{
				margin: unset;
				color: $secondary;
				font-weight: bold;
			}
		}
	
		.tagline{
			margin: unset;
		}
	}

	.navbar-toggler{
    cursor: pointer;
  }

	.navbar-nav a {
    transition: $hover-transition;

    &:hover {
      color: $secondary !important;
    }
  }
}

.site-index{
	#banner{
		position: relative;

		#banner-slider,
		#banner-content {
			height: 650px;
		}

		#banner-slider img{
			height: 650px;
		}

		#banner-content{
			top: 0;
			position: absolute;
			display: flex;
			align-items: center;
			background-color: $primary-transparent;

			.col-md-7{
				h1{
					font-weight: bold;
					text-shadow: $text-shadow;
				}

				p{
					color: $white;
					text-shadow: $text-shadow;
				}

				a{
					float: right;
				}
			}

			.col-md-5{
				text-align: center;
			}
		}
	}

	#headline{
		padding: 1rem 0;
		background-color: $secondary;
		display: flex;
		
		color: $white;
		text-shadow: $text-shadow;

		.col-md-8{
			display: flex;
			align-items: center;

			h2{
				margin: unset;
			}
		}

		.col-md-4{
			display: flex;
			justify-content: center;
			flex-direction: column;

			h6{
				font-weight: bold;
				align-self: flex-end;
			}
		}
	}

	#content{
		padding: 1rem;
		background-color: $white;

		.events-link{
			font-weight: bold;
			margin-top: 2rem;

			a{
				color: $secondary;
			}
		}
	}

	#map{
		padding: 2rem 0;
		background-color: $secondary;

		#geo-map{
			box-shadow: $box-shadow-secondary;
		}

		#map-desc{
			display: flex;
			flex-direction: column;
			justify-content: center;
			
			h1,p{
				color: $white;
				text-shadow: $text-shadow;
			}

			h1{
				font-weight: bold;
			}
		}
	}

	#partners{
		padding: 2rem 0;
		background-color: $white;

		h1{
			font-weight: bold;
			text-align: center;

			i{
				color: $secondary;
			}
		}

		.col-md{
			display: flex;
			flex-wrap: wrap;

			.partner{
				flex-basis: 20%;
				text-align: center;
				margin: 1rem 0;

				img{
					margin-bottom: .4rem;
					transition: $hover-transition;

					&:hover{
						box-shadow: $hover-shadow-secondary;
					}
				}

				h6{
					font-size: .9rem;
					color: $secondary;
					font-weight: bold;
				}
			}
		}
	}
}

footer{
	padding: 2rem 0;
	background-color: $primary;
	text-align: center;

	h4, h5{
		font-weight: bold;
	}

	.col-md-2{
		border-right: 1px solid $black;
	}

	.col-md{
		margin-top: 2rem;
		padding-top: 2rem;
		border-top: 1px solid $black;
	}

	.list-group {
		list-style: none;

		li{
			a{
				color: $black;

				&:hover{
					color: $accent-secondary;
				}
			}
		}
	}

	#list-lower{
		display: inline-block;

		li{
			float: left;
			padding: 0 1rem;
			border-right: 1px solid $black;

			&:last-child{
				border-right: unset;
			}
		}
	}
}
