body {
  background-color: $body-bg;
  font-family: $main-font;
  overflow-x: hidden;
}

nav {
  background-color: $white;
  border-bottom: 1px solid $secondary;

  .logo-container{
    display: flex;
    align-items: center;

    h1 {
      margin-left: .1em;
      color: $secondary;
      font-weight: bold;
    }
  }

  .navbar-toggler{
    cursor: pointer;
  }

  .navbar-nav a {
    color: lighten($black, 60%) !important;
    transition: $hover-transition;

    &:hover {
      color: $secondary !important;
    }
  }
}

.site-index,
.site-news-list,
.site-news{
  margin-top: 128px;
}

.site-index{
  /* Change On Mobile View */
  #banner,
  #banner-slider,
  #banner-content{
    width: 100%;
    height: 650px;
  }

  #banner{
    position: relative;

    #banner-slider{
      position: absolute;

      img{
        height: 650px;
      }
    }

    #banner-content{
      background-color: $primary-transparent;
      position: absolute;
      display: flex;
      align-items: center;

      .col-md-7{
        h1{
          font-size: 4em;
          font-weight: bold;
          text-shadow: $text-shadow;
        }

        p{
          color: $white;
          text-shadow: $text-shadow;
        }

        a{
          float: right;
        }
      }

      .col-md-5{
        text-align: center;
      }
    }
  }

  /* Change On Mobile View */
  #headline .col-md-8,
  #headline .col-md-4 {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #headline {
    color: $white;
    background-color: $secondary;

    h4 {
      text-shadow: $text-shadow;
    }

    h6 {
      align-self: flex-end;
    }
  }

  #content {
    padding: 1em;
    background-color: $white;
  }

  #news-container {

    #news-sub{
      img{
        height: 304px !important;
      }
    }

    h4{
      margin-top: 2em;
      font-weight: bold;

      a{
        color: $secondary;
      }
    }
  }

  #map{
    height: 500px; // Change on Mobile View
    padding: 4em 0 4em 0;
    background-color: $secondary;
    display: flex;
    align-items: center;
    
    #geo-map{
      box-shadow: $box-shadow-secondary;
    }

    #map-desc{
      color: $white;
      text-shadow: $text-shadow;
    }
  }

  #partners {
    padding: 4em 0 4em 0;
    background-color: $white;
    text-align: center;

    h1 {
      font-weight: bold;
      color: $black;

      i{
        color: $secondary;
      }
    }

    .row {
      margin: 4em 0 4em 0;

      &:last-child{
        margin-bottom: unset;
      }
    }

    img{
      cursor: pointer;
      transition: $hover-transition;
      margin-bottom: 1em;

      &:hover{
        box-shadow: $hover-shadow-secondary;
      }
    }

    h6{
      color: $secondary;
      font-weight: bold;
    }
  }
}

.site-news-list{
  #news-container{
    padding: 1em; 
    background-color: $white;

    #news-subhead{
      margin-bottom: 1em;

      .card{
        cursor: pointer;
        transition: $hover-transition;
        
        .card-img-overlay{
          display:flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: unset;

          .card-content{
						padding: 1em;           
						background-color: $secondary-transparent;
						
						.card-title{
							font-weight: bold;
							color: $white;
						}
	
						h6 {
							color: $text-secondary;

							.fa-facebook,
							.fa-twitter {
								cursor: pointer;
								margin: 0 .1em;
								color: $white;
			
								&:hover {
									color: $accent;
								}
							}

							.fa-clock-o{
								color: darken($white, 15%);
							}
						}
					}
        }

        &:hover{
          box-shadow: $hover-shadow;
        }
      }
    }

    .pagination{
      margin: 1em 0 1em 0;

      .page-item {
        &.active{
          .page-link{
            background-color: $secondary;
            border-color: $secondary;
            color: $white;
          }
        }

        .page-link{
          color: $secondary;
        }
      }
    }
  }
}

.site-news{
	#news{
		padding: 1em;
		background-color: $white;

		.card{
			.card-img-overlay{
				display:flex;
        flex-direction: column;
				justify-content: flex-end;
				padding: unset;

				.card-content{
					width: 80%;
					align-self: center;
					padding: 2em 1em;
					text-align: center;
					background-color: $secondary-transparent;
					position: relative;

					.category{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						margin: auto;
						padding: .2em;
						width: 10%;
						transform: translateY(-1em);			
						font-weight: bold;
						background-color: $accent-secondary;
						color: $white;
						text-transform: uppercase;
					}

					.card-title{
						font-weight: bold;
						color: $white;
						text-shadow: $text-shadow;
					}

					h6 {
						color: $text-secondary;

						.fa-facebook,
						.fa-twitter {
							cursor: pointer;
							margin: 0 .1em;
							color: $white;

							&:hover {
								color: $accent;
							}
						}

						.fa-clock-o{
							color: darken($white, 15%);
						}
					}
				}
			}
		}
	}
}

.site-error{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .card{
    width: 50%;

    .card-body{
      height: 240px;
      display: flex;

      .card-content{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-grow: 1;
        border-right: 1px solid $body-bg;
      }

      .card-logo{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p{
          font-weight: bold;
        }
      }

    }
  }
}

footer {
  padding: 4em 0;
  color: $black;
  background-color: $primary;

  h4, h5{
    font-weight: bold;
  }

  ul li a{
    color: $text-secondary;
  }

  .col-md-2,
  .col-md-6,
  .col-md{
    text-align: center;
  }

  .col-md-2,
  .col-md{
    ul li{
      list-style: none;
    }
  }

  .col-md-2{
    border-right: 1px solid lighten($black, 15%);
  }

  .col-md{
    border-top: 1px solid lighten($black, 15%);
    margin-top: 2em;
    padding-top: 2em;

    img{
      margin-bottom: 1em;
    }
  }

  #list-lower {
    flex-direction: row;
    justify-content: center;

    li{
      border-right: 1px solid lighten($black, 15%);
      padding: 0 1em 0 1em;

      &:last-child{
        border-right: none;
      }
    }
  }
}