@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$body-bg: #f8f9fa;
$main-font: 'Noto Sans';

$primary: #9CCC65;
$secondary: #558B2F;

$accent: #007BFF;
$accent-secondary: darken($accent, 15%);

$white: #ffffff;
$black: #08090A;

$text-shadow: 1px 1px 1px #212121;