@import 'variables';

body{
    margin-top: 122px;
    background-color: $body-bg;
    font-family: $main-font;
}

nav{
    background-color: $white;
    border-bottom: 1px solid $secondary;

    h1{
        color: $secondary;
        font-weight: bold;
    }

    .navbar-nav a{
        color: lighten($black, 60%) !important;
        transition: color 250ms ease-in-out;

        &:hover{
            color: $secondary !important;
        }
    }
}

/* Change On Mobile View */
#banner .col-md-7,
#banner .col-md-5{
    height: 500px; 
}

#banner .col-md-7{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#banner{
    background-color: $primary;

    h1{
        font-size: 4em;
	    font-weight: bold;
    }

    a{
        width: 50%;
	    align-self: flex-end;
    }
}

/* Change On Mobile View */
#headline .col-md-8,
#headline .col-md-4{
	height: 80px; 
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#headline{
	color: $white;
    background-color: $secondary;
    
    h4{
        text-shadow: $text-shadow;
    }

    h6{
        align-self: flex-end;
    }
}

#content{
	padding-top: 1em;
	background-color: $white;
}

#news{

    h1{
        font-weight: bold;
    }

    li{
        display: flex;
        border-right: none;
        border-left: none;

        &:first-child{
            border-top: none;
        }
        
        &:last-child{
            border-bottom: none;
        }

        /* Change On Mobile View */
        img{
            width: 35%;
        }

        .n-content{
            width: 65%;
        
            h3{
                font-weight: bold;

                a{
                    color: $secondary;
                }
            }
            
            h6{
                .fa-facebook,
                .fa-twitter{
                    cursor: pointer;
                    margin: 0 .2em;
                    color: $primary;

                    &:hover{
                        color: $secondary;
                    }
                }

                .fa-clock-o{
                    color: $secondary;
                }
            }
        }
    }
}

#calendar{

  #mini-clndr{
    width: 100%;
    box-shadow: 4px 4px 0 lighten($black, 60%);

    .clndr{
      overflow: hidden;
      border-bottom: 7px solid $secondary;

      .controls{
        background-color: $secondary;
        color: $white;
        display: flex;
        align-items: center;

        .clndr-previous-button, 
        .clndr-next-button{
          width: 15%;
          cursor: pointer;
          text-align: center;
          padding: 1em 0;

           &:hover{
            background-color: darken($secondary, 10%);
          }
        }

        .month{
          width: 70%;
          font-size: 1.4em;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
        }
      }

      .days-container{
        .days{
          .headers{
            background-color: $primary;
          }

          
        }
      }

      .events{

      }
    }
  }
}

#partners{
    padding-top: 1em;
    height: 500px;
    background-color: $secondary;
    color: $white;
    text-align: center;

    h1{
        font-weight: bold;
        text-shadow: $text-shadow;
    }
}

footer{
    height: 500px;
    color: $white;
    background-color: $black;
}