@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

/* White: #f8f9fa */
/* Black: #08090A */

/* 
 * Main Color: Light Green
 *  L: #9CCC65
 *  D: #558B2F 
*/

/*
 * Accent Color: Bootstrap Blue
 *  L: #007BFF
 *  D: ???
*/

/**
 *	Other Shades:
 *	Green:
 *	 L: #97ce7f;
 *	 D: #69a776;
 *
 *	Black: #414141;
 * 
 *	Text Shadow:
 *	 text-shadow: 1px 1px 1px #212121;
*/

body{
	margin-top: 122px;
	background-color: #f8f9fa;
	font-family: 'Noto Sans', sans-serif !important;
}

nav{
	background-color: #fff;
	border-bottom: 1px solid #558B2F;
}

.navbar-nav a{
	color: #6E6F70 !important;
	transition: color 250ms ease-in-out;
}

.navbar-nav a:hover{
	color: #558B2F !important;
}

nav h1{
	color: #558B2F;
	font-weight: bold;
}

#banner{
	background-color: #9CCC65;
}

#banner .col-md-7,
#banner .col-md-5{
	height: 500px; /* Change On Mobile View */
}

#banner .col-md-7{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#banner h1{
	font-size: 4em;
	font-weight: bold;
}

#banner a{
	width: 50%;
	align-self: flex-end;
}

#headline{
	color: #fff;
	background-color: #558B2F;
}

#headline .col-md-8,
#headline .col-md-4{
	height: 80px; /* Change On Mobile View */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#headline h6{
	align-self: flex-end;
}

#content{
	padding-top: 1em;
	background-color: #fff;
}

#news h1{
	font-weight: bold;
}

#news li{
	display: flex;
	border-right: none;
	border-left: none;
}

#news li:first-child{
	border-top: none;
}

#news li:last-child{
	border-bottom: none;
}

#news img{
	width: 35%;
}

#news .n-content{
	width: 65%;
}

#news h3{
	font-weight: bold;
}

#news a{
	color: #558B2F;
}

#news .fa-facebook,
#news .fa-twitter{
	margin: 0 .2em;
	cursor: pointer;
	color: #9CCC65;
}

#news .fa-facebook:hover,
#news .fa-twitter:hover{
	color: #558B2F;
}

#news .fa-clock-o{
	color: #558B2F;
}

#calendar p{
	border:1px solid black !important;
	color:blue;
}