@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
/**
 *	Other Shades:
 *	Main Color:
 *   D: #69a776;
 *	 L: #97ce7f;
 *
 *	Black: #414141;
 *
*/
body {
  margin-top: 122px;
  background-color: #f8f9fa;
  font-family: "Noto Sans"; }

nav {
  background-color: #ffffff;
  border-bottom: 1px solid #558B2F; }

.navbar-nav a {
  color: #98a2ac !important;
  transition: color 250ms ease-in-out; }

.navbar-nav a:hover {
  color: #558B2F !important; }

nav h1 {
  color: #558B2F;
  font-weight: bold; }

#banner {
  background-color: #9CCC65; }

/* Change On Mobile View */
#banner .col-md-7,
#banner .col-md-5 {
  height: 500px; }

#banner .col-md-7 {
  display: flex;
  flex-direction: column;
  justify-content: center; }

#banner h1 {
  font-size: 4em;
  font-weight: bold; }

#banner a {
  width: 50%;
  align-self: flex-end; }

#headline {
  color: #ffffff;
  background-color: #558B2F; }

/* Change On Mobile View */
#headline .col-md-8,
#headline .col-md-4 {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

#headline h4 {
  text-shadow: 1px 1px 1px #212121; }

#headline h6 {
  align-self: flex-end; }

#content {
  padding-top: 1em;
  background-color: #ffffff; }

#news h1 {
  font-weight: bold; }

#news li {
  display: flex;
  border-right: none;
  border-left: none; }

#news li:first-child {
  border-top: none; }

#news li:last-child {
  border-bottom: none; }

/* Change On Mobile View */
#news img {
  width: 35%; }

#news .n-content {
  width: 65%; }

#news h3 {
  font-weight: bold; }

#news a {
  color: #558B2F; }

#news .fa-facebook,
#news .fa-twitter {
  margin: 0 .2em;
  cursor: pointer;
  color: #9CCC65; }

#news .fa-facebook:hover,
#news .fa-twitter:hover {
  color: #558B2F; }

#news .fa-clock-o {
  color: #558B2F; }

#partners {
  padding-top: 1em;
  height: 500px;
  background-color: #558B2F;
  color: #ffffff;
  text-align: center; }

#partners h1 {
  font-weight: bold;
  text-shadow: 1px 1px 1px #212121; }

footer {
  color: #ffffff;
  background-color: #08090A; }
